In [1]:
import pandas as pd
data=pd.read_csv('../input/heart-attack-analysis-prediction-dataset/heart.csv')
data

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [2]:
x=data.iloc[:,:13]
x

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [3]:
y=data[['output']]
y

     output
0         1
1         1
2         1
3         1
4         1
..      ...
298       0
299       0
300       0
301       0
302       0

[303 rows x 1 columns]

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.30)
print('training dataset-')
print(X_train)

print('testing dataset-')
print(X_test)

training dataset-
     age  sex  cp  trtbps  chol  fbs  restecg  thalachh  exng  oldpeak  slp  \
238   77    1   0     125   304    0        0       162     1      0.0    2
87    46    1   1     101   197    1        1       156     0      0.0    2
2     41    0   1     130   204    0        0       172     0      1.4    2
171   48    1   1     110   229    0        1       168     0      1.0    0
223   56    0   0     200   288    1        0       133     1      4.0    0
..   ...  ...  ..     ...   ...  ...      ...       ...   ...      ...  ...
163   38    1   2     138   175    0        1       173     0      0.0    2
6     56    0   1     140   294    0        0       153     0      1.3    1
53    44    0   2     108   141    0        1       175     0      0.6    1
134   41    0   1     126   306    0        1       163     0      0.0    2
185   44    1   0     112   290    0        0       153     0      0.0    2

     caa  thall
238    3      2
87     0      3
2      0      2
171    0      3
223    2      3
..   ...    ...
163    4      2
6      0      2
53     0      2
134    0      2
185    1      2

[212 rows x 13 columns]
testing dataset-
     age  sex  cp  trtbps  chol  fbs  restecg  thalachh  exng  oldpeak  slp  \
151   71    0   0     112   149    0        1       125     0      1.6    1
239   35    1   0     126   282    0        0       156     1      0.0    2
157   35    1   1     122   192    0        1       174     0      0.0    2
101   59    1   3     178   270    0        0       145     0      4.2    0
217   63    1   0     130   330    1        0       132     1      1.8    2
..   ...  ...  ..     ...   ...  ...      ...       ...   ...      ...  ...
209   59    1   0     140   177    0        1       162     1      0.0    2
48    53    0   2     128   216    0        0       115     0      0.0    2
176   60    1   0     117   230    1        1       160     1      1.4    2
243   57    1   0     152   274    0        1        88     1      1.2    1
298   57    0   0     140   241    0        1       123     1      0.2    1

     caa  thall
151    0      2
239    0      3
157    0      2
101    0      3
217    3      3
..   ...    ...
209    1      3
48     0      0
176    2      3
243    1      3
298    0      3

[91 rows x 13 columns]

In [5]:
from sklearn.ensemble import GradientBoostingClassifier
import numpy as np
clf=GradientBoostingClassifier(random_state=10,learning_rate=0.5)
clf.fit(X_train,y_train)

/opt/conda/lib/python3.7/site-packages/sklearn/utils/validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

GradientBoostingClassifier(learning_rate=0.5, random_state=10)

In [6]:
y_pred=clf.predict(X_test)
y_pred

array([1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1,
       1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0,
       1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1,
       0, 0, 1])

In [7]:
from sklearn import metrics
print('Accuracy:',metrics.accuracy_score(y_test,y_pred))

Accuracy: 0.7472527472527473

In [8]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingClassifier
import numpy as np
from sklearn import metrics
data=pd.read_csv('../input/heart-attack-analysis-prediction-dataset/heart.csv')
print (data)
x=data.iloc[:,:13]
y=data[['output']]

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.30)
print('training dataset-')
print(X_train)

print('testing dataset-')
print(X_test)

clf=GradientBoostingClassifier(random_state=10,learning_rate=0.5)
clf.fit(X_train,y_train)
y_pred=clf.predict(X_test)

print('Accuracy:',metrics.accuracy_score(y_test,y_pred))

     age  sex  cp  trtbps  chol  fbs  restecg  thalachh  exng  oldpeak  slp  \
0     63    1   3     145   233    1        0       150     0      2.3    0
1     37    1   2     130   250    0        1       187     0      3.5    0
2     41    0   1     130   204    0        0       172     0      1.4    2
3     56    1   1     120   236    0        1       178     0      0.8    2
4     57    0   0     120   354    0        1       163     1      0.6    2
..   ...  ...  ..     ...   ...  ...      ...       ...   ...      ...  ...
298   57    0   0     140   241    0        1       123     1      0.2    1
299   45    1   3     110   264    0        1       132     0      1.2    1
300   68    1   0     144   193    1        1       141     0      3.4    1
301   57    1   0     130   131    0        1       115     1      1.2    1
302   57    0   1     130   236    0        0       174     0      0.0    1

     caa  thall  output
0      0      1       1
1      0      2       1
2      0      2       1
3      0      2       1
4      0      2       1
..   ...    ...     ...
298    0      3       0
299    0      3       0
300    2      3       0
301    1      3       0
302    1      2       0

[303 rows x 14 columns]
training dataset-
     age  sex  cp  trtbps  chol  fbs  restecg  thalachh  exng  oldpeak  slp  \
17    66    0   3     150   226    0        1       114     0      2.6    0
183   58    1   2     112   230    0        0       165     0      2.5    1
210   57    1   2     128   229    0        0       150     0      0.4    1
189   41    1   0     110   172    0        0       158     0      0.0    2
47    47    1   2     138   257    0        0       156     0      0.0    2
..   ...  ...  ..     ...   ...  ...      ...       ...   ...      ...  ...
155   58    0   0     130   197    0        1       131     0      0.6    1
297   59    1   0     164   176    1        0        90     0      1.0    1
143   67    0   0     106   223    0        1       142     0      0.3    2
196   46    1   2     150   231    0        1       147     0      3.6    1
20    59    1   0     135   234    0        1       161     0      0.5    1

     caa  thall
17     0      2
183    1      3
210    1      3
189    0      3
47     0      2
..   ...    ...
155    0      2
297    2      1
143    2      2
196    0      2
20     0      3

[212 rows x 13 columns]
testing dataset-
     age  sex  cp  trtbps  chol  fbs  restecg  thalachh  exng  oldpeak  slp  \
71    51    1   2      94   227    0        1       154     1      0.0    2
86    68    1   2     118   277    0        1       151     0      1.0    2
177   64    1   2     140   335    0        1       158     0      0.0    2
301   57    1   0     130   131    0        1       115     1      1.2    1
91    57    1   0     132   207    0        1       168     1      0.0    2
..   ...  ...  ..     ...   ...  ...      ...       ...   ...      ...  ...
152   64    1   3     170   227    0        0       155     0      0.6    1
133   41    1   1     110   235    0        1       153     0      0.0    2
243   57    1   0     152   274    0        1        88     1      1.2    1
4     57    0   0     120   354    0        1       163     1      0.6    2
74    43    0   2     122   213    0        1       165     0      0.2    1

     caa  thall
71     1      3
86     1      3
177    0      2
301    1      3
91     0      3
..   ...    ...
152    0      3
133    0      2
243    1      3
4      0      2
74     0      2

[91 rows x 13 columns]
Accuracy: 0.8021978021978022

/opt/conda/lib/python3.7/site-packages/sklearn/utils/validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)